#pages{
  display: flex;
}
div[id*="Page"]{
  width: 50%;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

img{
  width: 25%;
  height: 25%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
#employeePage div>h2::before{
  content: "< ";
}
#homePage div>h2::after{
  content: " Directory";
}

#employeeListItem {
  display: flex;
}